# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.venv/
venv/
ENV/
env/

# Logs (keep logs folder, ignore files inside)
logs/*.log

# OS metadata
.DS_Store
Thumbs.db
